/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.override.yml
homestead.json
homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.agents
/public/screenshots
.agents.zip
skills-lock.json
